body{
background-color:
}

.container-fluid {
height: 80%;
}

.card {
height: 100%;
border-radius: 3px;
}

.map {
}

.buttons {
display: flex;
flex-wrap: wrap;
justify-content: space-around;
padding: 10px;
margin:5px;
}

.info {
border: 1px solid black;
border-radius: 3px;
position:relative;
}

.metadata-area {
padding: 10px;
padding-top:0px;
margin: 10px;
position: relative;
border: 1px solid black;
border-radius: 3px;
}

.metadata-area h4 {
text-align:center;
}

.metadata {
margin-bottom: 0px;
}

.log-area {
padding: 10px;
margin: 10px;
position: relative;
overflow-y: scroll;
border: 1px solid black;
border-radius: 3px;
}

.logTabs {
align:center;
}

.log-list {
list-style: none;
margin: 0px;
padding: 0px;
width: 100%;
}

.log-list > li {
border: 1px solid black;
border-radius: 5px;
margin-bottom: 2px;
padding: 2px;
}

.hidden {
display:none;
}