<?xml version="1.0" encoding="ISO-8859-1"?>
<web-app xmlns="http://xmlns.jcp.org/xml/ns/javaee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_3_1.xsd"
version="3.1">

   <display-name>Honeypot</display-name>

    <listener>
       <listener-class>io.github.honeypot.App</listener-class>
    </listener>


    <servlet>
        <servlet-name>logviewer</servlet-name>
        <servlet-class>io.github.honeypot.servlet.LogServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>logviewer</servlet-name>
        <url-mapping>/logs/*</url-mapping>
    </servlet-mapping>
</web-app>
